[Unit]
Description=Run restic cleanup on backup host %I
AssertPathExists=/etc/restic/env_%i
AssertPathExists=/etc/restic/password_%i
After=network.target

[Service]
Type=oneshot
User={{ user }}
AmbientCapabilities=CAP_DAC_READ_SEARCH
ProtectSystem=strict
PrivateTmp=true
ReadWritePaths=/etc/restic
WorkingDirectory=/etc/restic
Environment="RESTIC_CACHE_DIR=/etc/restic/.cache"
EnvironmentFile=/etc/restic/env_%i
ExecStart=/etc/restic/restic_cleanup.sh

[Install]
WantedBy=multi-user.target
